@import '../js/Pages/Dashboard/dashboard.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}



:root {
    --color-text-primary: #1c1917;
    --color-text-secondary: #78716c;
    --color-text-tertiary: #a8a29e;
    --color-text-success: #166534;
    --color-text-warning: #854d0e;

    --color-background-primary: #ffffff;
    --color-background-secondary: #f5f4f0;
    --color-background-success: #dcfce7;

    --color-border-tertiary: #e7e5e4;
    --color-border-secondary: #d6d3d1;
    --color-border-success: #bbf7d0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text-primary: #fafaf9;
        --color-text-secondary: #a8a29e;
        --color-text-tertiary: #78716c;
        --color-text-success: #86efac;
        --color-text-warning: #fcd34d;

        --color-background-primary: #1c1917;
        --color-background-secondary: #292524;
        --color-background-success: #14532d;

        --color-border-tertiary: #292524;
        --color-border-secondary: #44403c;
        --color-border-success: #166534;
    }
}